.navigation_item {
    margin-right: 10px;
}

.header {
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.footer {
    height: 40px;
    background-color: green;
    display: flex;
}

.navigation {
    margin: 0px;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navigation_item {
    margin-right: 16px;
}

.footer_text {
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
}

.dashboard {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.news {
    width: 200px;
    background-color: grey;
}

.navigation1 {
    margin: 0px;
    list-style-type: none;
    padding: 0;
}

.newss {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.el {
    margin-left: 16px;
}

.ol {
    margin-bottom: 16px;
    margin-left: 16px;
}