* {
    box-sizing: border-box;
}

.container {
    margin: 16px;
}

.rect {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: coral;
    margin-bottom: 16px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.rect:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: linear;
}