@import 'breakpoints.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.header {
    height: 3em;
    background-color: #006400;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: 3em;
    text-transform: uppercase;
}

.menu__item {
    position: relative;
    padding: 15px 8px;
    cursor: pointer;
    height: 100%;
    flex: 1;
    color: black;
}

.menu__item:hover {
    background-color: #9acd32;
}

.menu__item_active .menu__item-text {
    color: yellow;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #ff7f50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    min-width: 120px;
    z-index: 1;
    list-style: none;
}

.submenu__item {
    padding: 16px;
    color: #fff;
}

.submenu__item:hover {
    color: black;
}

.menu__item:hover .submenu {
    display: block;
}