@import 'breakpoints.scss';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ff7f50;
    margin: 8px;
    @include for-medium-up {
        background-color: #a61;
    }
    @include for-large-up {
        background-color: #c47;
    }
}

@media (orientation: portrait) {
    .container {
        display: block;
    }
    .square {
        margin: 16px;
    }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
    .square {
        background-color: #8a2be2;
    }
}