.header {
  background-color: darkturquoise;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list {
  margin: 0;
}

.nav-item:first-child {
  padding-left: 0;
  /* Або padding-left: 0; якщо використовуєш паддінги */
}

.nav-item {
  display: inline;
  padding-left: 16px;
  color: white;
}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: calc(50% - 100px);
  /* Центруємо по вертикалі, віднімаємо половину висоти голови */
  left: calc(50% - 100px);
  z-index: 5;
  /* Центруємо по горизонталі, віднімаємо половину ширини голови */
}

/* Вуха */

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
}

.ear_left {
  top: -60px;
  left: -40px;
}

.ear_right {
  top: -60px;
  right: -40px;
}

/* Очі */

.eye {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
}

.eye_left {
  top: 80px;
  left: 40px;
}

.eye_right {
  top: 80px;
  right: 40px;
}
