* {
  box-sizing: border-box;
}

.rectagle1 {
  margin: 50px;
  width: 100px;
  height: 50px;
  border-radius: 16px;
  background-color: forestgreen;
}

.rectagle2 {
  margin: 50px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: darkmagenta;
}

.rectagle3 {
  margin: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aquamarine;
}

.rectagle4 {
  margin: 50px;
  width: 100px;
  height: 100px;
  border: 25px solid transparent;
  border-top-color: brown;
}
