/* Загальні стилі */
* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: #555;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  text-align: center;
  background: linear-gradient(60deg, red, orange);
  color: #fff;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  flex: 1;
  background-color: #f7f7f7;
  width: 20%;
}

.section {

  font-size: 1.125rem;
  
  width: 60%;
}

.news {
  flex: 1;
  width: 20%;
}

/* Footer */
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}

/* Список в навігації */


.nav-list-item {
list-style-type: none;
height: 2em;
background-color: grey;
line-height: 2em;
color: white;
margin-bottom: 0.5em;

}

.nav-list-link {
 width: 100%;
 display: inline-block;
 padding: 0 0.5em;
 text-decoration: none;
 color: white;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
/* Заголовок секції */
.section__header {
  font-size: 5vw;
  text-align: center;
}

/* CSS Units */
.css-units {
  font-size: 1.125em;
  color: #8b0000;
  font-weight: 700;
  background-color: #e5e5e5;
}
 
.nav-list {
  padding: 0;
}

.units-list {
  line-height: 1.75em;
}