/* Загальні стилі */
* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: #555;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  text-align: center;
  background: linear-gradient(60deg, red, orange);
  color: #fff;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  padding: 0.5em;
  gap: 1em;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  flex: 1;
  background-color: #f7f7f7;
  width: 20%;
}

.section {
  flex: 3;
  font-size: 1.125rem;
  line-height: 1.75em;
  width: 60%;
}

.news {
  flex: 1;
  width: 20%;
}

/* Footer */
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}

/* Список в навігації */
.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list-item + .nav-list-item {
  margin-top: 0.5em;
}

.nav-list-link {
  color: #f5f5f5;
  background-color: #808080;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  display: block;
  line-height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Заголовок секції */
.section__header {
  font-size: 5vw;
  text-align: center;
}

/* CSS Units */
.css-units {
  font-size: 1.125em;
  color: #8b0000;
  font-weight: 700;
  background-color: #e5e5e5;
}
