* {
    box-sizing: border-box;
  }
  
  html {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #555;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  p {
    margin: 0;
  }
  .header {
    text-align: center;
    background: linear-gradient(60deg, red, orange);
    color: #fff;
  }
  
  .main {
    flex: 1;
    display: flex;
    
  }
  
  .navigation,
  .section,
  .news {
    padding: 0.5em;
  }
  
  .navigation {
    flex: 1;
    background-color: #f7f7f7;
    width: 20%;
    
  }
  
  .section {
    flex: 3;
    font-size: 1.25rem;
    width: 60%;
    line-height: 1.75em;
  }
  
  .news {
    flex: 1;
    width: 20%;
  }
  
  .footer {
    background-color: #e5e5e5;

    text-align: center;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-list-item + .nav-list-item {

  }
  
  .nav-list-link {
    color: #f5f5f5;
    background-color: #808080;
    text-decoration: none;
    margin-bottom: 0.5em;
    display: block;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5em 0 0.5em;
  }
  
  .section__header {
    font-size: 5vw;
    text-align: center;
  }
  
  .css-units {
    font-size: 1.125em;
    color: #8b0000;
    font-weight: 700;
    background-color: #e5e5e5;
  }