* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
    font-family: monospace;
    font-size: 16px;
}

.login-form {
    width: 300px;
    background-color: aqua;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.form-control {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 32px;
    padding: 4px;
    border: 1px solid #808080;
    outline: none;
    border-radius: 4px;
}

.form-input:invalid {
    border: 3px solid #ff0000;
}

.submit-button {
    width: 100%;
    height: 32px;
    margin-top: 16px;
    background-color: #ff7f50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Стилі для чекбокса */

.checkbox-container {
    position: relative;
    font-size: 24px;
    padding-left: 35px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}