.rectagle {
    width: 512px;
    height: 126px;
    padding: 16px;
    margin: 16px;
    border: 8px solid black;
}

.rectagle_first {
    background-color: aquamarine;
    box-sizing: content-box;
}

.rectagle_second {
    background-color: antiquewhite;
    box-sizing: border-box;
}