.battery_subject {
    display: flex;
    justify-content: space-around;
}

.fl {
    font-size: 16px;
}

.fls {
    font-size: 32px;
}

.flr {
    font-size: 64px;
}

.flt {
    font-size: 128px;
}

.fll {
    font-size: 256px;
}