body {
  font-family: Verdana, sans-serif;
  /* 1. Задати шрифт Verdana */
}

.ul {
  font-size: 74px;
  /* 2. Розмір тексту 74px */
  width: 50%;
  /* 2. Займає половину ширини сторінки */
  text-align: center;
  /* 2. Центрування по горизонталі */
  white-space: nowrap;
  /* 2. Вимикає переноси */
  overflow: hidden;
  /* 2. Приховує текст, який не вміщується */
  text-overflow: ellipsis;
  /* 2. Троеточие для обрізаного тексту */
  margin: auto;
}

.ol {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 200px;
}
