.gallery {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 16px;
    border: 1px dotted grey;
}