@import 'layout.scss';
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.navigation {
    background-color: #ff7f50;
    min-height: $min-height;
    display: flex;
    flex: 1 1 50%;
}

.products-list {
    background-color: #006400;
    min-height: $min-height;
    display: flex;
    flex: 1 1 50%;
}

.news {
    background-color: #0ff;
    min-height: $min-height;
    display: flex;
    flex: 1 1 50%;
}

span {
    background-color: #faebd7;
    padding: 8px;
    border-radius: 4px;
    text-transform: lowercase;
    margin: auto;
}

@include for-medium-up {
    background-color: #a61;
}

@include for-large-up {
    background-color: #c47;
}